*{
    margin: 0;
    padding: 0;
}

header, section, footer{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    
}

#encabezado{
    background-color: black;
}

#encabezado h6{
    color: white;
    text-align: center;
}

#sectioninfo{
    background-color: black;
    height: 300px;
    position: relative;
}

.sectioninfohijo{
    color: white;
    text-align: center;
    position: absolute;
    top: 50px;
}

.sectioninfolist ul{
    text-align: center;
    position: absolute;
    top: 200px;
}

.sectioninfolist ul li{
    margin-right: 50px;
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.card-header{
    font-size: 40px;
}

#sectionplancompleto{
    /*background-color: aqua;*/
    height: 250px;
}

#sectioninterplanes{
    /*background-color: rgb(45, 112, 112);*/
    height: 200px;
}

.card-headerinter{
    text-align: center;
    font-size: 20px;
}

.card-bodyinter{
    display: flex;
    justify-content: center;
}

#sectionplanentrenamiento{
    /*background-color:aquamarine;*/
    height: 250px;
}

#sectioncomparaciones{
    /*background-color: blue;*/
    height: 300px;
}

.card-izquierda{
    float: left;
}

.card-medio{
    float: left;
}

.card-derecha{
    float: left;
}

#cardplanes{
    margin-left: 25px;
}

#sectionrefuerzo{
    background-color: blue;
    height: 300px;
}








