*{
    margin: 0;
    padding: 0;
}

header, section, footer{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    
}

#encabezado{
    background-color: black;
    height: 20px;
}

#encabezado h6{
    color: white;
    text-align: center;
}

#sectioninfo{
    background-color: black;
    height: 200px;
}

.sectioninfohijo{
    color: white;
    text-align: center;
}

.sectioninfolist ul li{
    margin-right: 56px;
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.card-header{
    font-size: 40px;
}

#sectionplancompleto{
    /*background-color: aqua;*/
    height: 250px;
}

#sectioninterplanes{
    /*background-color: rgb(45, 112, 112);*/
    height: 100px;
}

#sectioninterplanes div{
    top: 50px;
}

.card-headerinter{
    text-align: center;
    font-size: 20px;
}

.card-bodyinter{
    display: flex;
    justify-content: center;
}

#sectionplanentrenamiento{
    /*background-color:aquamarine;*/
    height: 180px;
}

#sectioncomparaciones{
    /*background-color: blue;*/
    height: 300px;
}

.card-tittle{
    margin-top: 10px;
}

.card-izquierda{
    float: left;
}

.card-medio{
    float: left;
}

.card-derecha{
    float: left;
}

#sectioncomparaciones ul{
    list-style: none;
}

#cardplanes{
    margin-left: 25px;
}

#sectionrefuerzo{
    /*background-color: blue;*/
    height: 200px;
}

#sectionrefuerzotitulo{
    /*background-color: chocolate;*/
    height: 45px;
    margin-top: 10px;
}

#sectionrefuerzotext{
    /*background-color: blueviolet;*/
    height: 100px;
}

#sectionrefuerzoboton{
    /*background-color: brown;*/
    height: 80px;
}

#sectionsobremi{
    /*background-color: blue;*/
    height: 350px;
}

#sectionsobremititulo{
    /*background-color: blueviolet;*/
    height: 45px;
    margin-top: 10px;
}

#sectionsobremitext{
    /*background-color: brown;*/
    height: 350px;
}

h1, h5{
    text-align: center;
}

.boton{
    display: flex;
    justify-content: center;
}

section{
    margin-bottom: 40px;
}

